* {
    margin: 0;
    padding: 0;
}

.header-top {
    background-color: #4582ec;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.header-top h1 {
    color: white;
    font-size: 21px;
    margin-left: 15px;
    font-weight: 500;
}

.header-top a {
    text-decoration: none;
    color: white;
}

.search-container {
    width: 100%vh;
    height: 130px;
    margin: 15px 10px 15px 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 0px 1px #6b6b6b;
}

.search-container h1 {
    font-size: 38px;
    font-weight: 900;
}

.search-container p {
    margin-top: 8px;
    font-size: 20px;
    color: #8e959b;
}

.search-container input {
    border-width: 0;
    box-shadow: 0px 0px 1px #6b6b6b;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    padding-left: 10px;
    font-size: 17px;
}

/* profile container css */

.profile-container {
    display: flex;
    width: 100%vh;
    height: 240px;
    margin: 15px 10px 15px 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 0px 1px #6b6b6b;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-img {
    width: 200px;
}

.profile a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #4582ec;
    width: 200px;
    height: 40px;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: normal;
}

.profile a:hover {
    background-color: #1c66e7;
}

.profile-status {
    margin-left: 25px;
}
.status {
    border-radius: 3px;
    color: white;
    padding: 5px 12px 5px 12px;
    margin-right: 5px;
    font-size: 13px;
}

.repos {
    background-color: #4582ec;
}

.gists {
    background-color: #adb6bd;
}

.followers {
    background-color: #02b975;
}

.following {
    background-color: #19a1b7;
}

.profile-table {
    margin: 30px 10px 10px 25px;
    font-size: 13px;
    line-height: 1.8;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-collapse: collapse;
    padding: 18px;
    width: 700px;
}

.profile-table-item td {
    border: 1px solid #ced4da;
    padding: 7px 15px;
}

/* repository css */

#repos-header {
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.repos-list {
    box-shadow: 0px 0px 1px #6b6b6b;
    display: flex;
    align-items: center;
    padding: 13px;
    height: 33px;
    margin: 5px 10px 7px 10px;
}

.repos-list-name {
    width: 200px;
}

.repos-list a {
    font-size: 15px;
    color: #4582ec;
    text-decoration: none;
}

.repos-list a:hover {
    color: #0046bf;
}

.repos-status {
    margin-left: 380px;
}

.repos-status span {
    text-align: center;
    font-weight: 400;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px 11px 3px 12px;
}
.repos-stars {
    background-color: #4582ec;
}

.repos-watchers {
    background-color: #adb6bd;
}

.repos-forks {
    background-color: #02b975;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #f8f9fa;
    position: absolute;
    bottom: 0;
    font-size: 7px;
}

.footer h1 {
    font-weight: 400;
}
